body {
    background-color: #ededed;
    line-height: 1.5;
    font-size: 13px;
    font-family: helvetica;
    color: #999999;
    width: 850px;
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
}

h1 {
    color: #FF9C22;
    font-size: 60px;
    position: relative;
    left: 100px;
}

h2 {
    font-size: 200px;
    color: #878787;
}

.sidebar {
    padding-left: 31px;
    width: 270px;
    position: absolute;
    border: 8px solid #999999;
    height: 610px;
    position: absolute;
    left: 100px;
    box-shadow: 11px 11px 5px #cccccc;
    background-color: white;
    border-left: 8px solid #b5b5b5;
    border-top: 8px solid #cbcbcb;
}

a:link {
    color: #66CCFF;
    text-decoration: none;
}

a:visited {
    color: #66CCFF;
}

a:hover {
    color: #52A3CC;
}

a:active {
    color: #B26B47;
}

.post {
    margin-left: 360px;
}

.highlight {
    background-color: white;
    width: 550px;
    padding: 18px 10px 10px 10px;
    box-shadow: 6px 6px 6px #cccccc;
    margin: 40px 60px;
    position: absolute;
    left: 650px;
}

.nt {
    color: #FF9C22;
}

.s {
    color: #66CCFF;
}

.k {
    color: #66CCFF;
}

.nf, .nc {
    color: #FF9C22;
}
