body {
    background-color: white;
    line-height: 1.5;
    font-size: 14px;
    font-family: helvetica;
    color: #444444;
}

h1 {
    text-decoration: italic;
}

.sidebar {
    background-color: #9D9D9D;
    padding: 30px;
    width: 300px;
}

a {
    color: white;
}